:root {
    --article-title-bg-color-blog: #722ea5;
    --article-title-bg-color-indicator: #0039a6;
    --primary-color: #0073b0;
}

body {
    margin: auto;
}

.top {
    margin: auto;
    width: 90vw;
}

@media screen and (max-width: 780px) {
    .top {
        width: 100%;
        margin: 8px;
    }
}

.num-results {
    font-size: 0.9em;
}

.views-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

.views-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.views-actions-container > * {
    margin: 4px;
}

.view-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-button > img {
    width: 24px;
}

button:focus {
    outline: auto;
}

.view-button > span {
    color: var(--primary-color);
    text-transform: uppercase;
}

.view-button[data-active="true"] {
    border: 1px solid black;
    border-radius: 4px;
}

#articles {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 16px;
    max-width: 90vw;
    margin: auto;
}

#articles.compact {
    grid-template-columns: auto;
}

@media screen and (max-width: 780px) {
    #articles {
        grid-template-columns: auto;
        max-width: 100vw;
    }
}

.article-container {
    border: 2px solid black;
    max-width: 300px;
}

.article-container.compact {
    border: none;
    max-width: none;
}

@media screen and (max-width: 780px) {
    .article-container {
        max-width: 100vw;
        min-width: 200px;
    }
}

.article-compact-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.article-id {
    width: 100%;
}

.article-id.blog {
    background-color: var(--article-title-bg-color-blog);
}

.article-id.indicator {
    background-color: var(--article-title-bg-color-indicator);
}

.article-id > span {
    width: 100%;
    margin: 0;
    padding: 2px;
    margin-left: 4px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
    display: block;
}

.article-content {
    margin: 6px;
}

.article-container > img {
    width: 80%;
    height: 8em;
    margin: auto;
    display: block;
    object-fit: contain;
}

.article-type {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 0.9em;
    display: block;
    margin: 8px 0px;
}

.article-type.compact {
    margin-right: 4px;
}

.article-id-compact {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 0.9em;
    display: block;
    margin-right: 24px;
}

.article-date {
    font-size: 0.8em;
    display: block;
    margin: 8px 4px;
}

.article-title {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.article-title:hover {
    text-decoration: underline;
}

.article-title.compact {
    font-weight: 700;
}

.authors {
    text-transform: uppercase;
    font-size: 0.95em;
}

span > .authors {
    margin-left: 8px;
}

hr.vertical {
    border: none;
    border-left: 3px solid var(--primary-color);
    height: 1em;
    width: 1px;
}

.flex {
    display: flex;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
}

.load-more-button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 16px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: auto;
}

@media screen and (min-width: 780px) {
    .load-more-button {
        display: none;
    }
}

.load-more-button:disabled {
    background-color: gray;
}

#button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 780px) {
    #button-group {
        display: none;
    }
}

.pagination-button {
    background-color: gray;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: auto;
}

.pagination-button[data-selected="true"] {
    background-color: var(--primary-color);
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
